<h1>New Model Names</h1>

<%= error_messages_for :model_name %>

<% form_for(@model_name) do |f| %>

  <p>Manufacturer: <%= f.select(:manufacturer_id, Manufacturer.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select') %> </p>
  <p>Model Name: <%= f.text_field(:name) %>
  <p><%= f.submit 'Create' %></p>

<% end %>
